#mail-loading-container {
  background:url("/loading.gif") no-repeat center center white;
}

#mail-container {
  @extend .col-xs-8;
  @extend .col-sm-9;
  @extend .col-md-10;
  @extend .col-lg-10;
  @extend .pull-right;
  position: relative;
  z-index: 1 !important;
}

.threads-container {
  overflow-wrap: break-word;
}

.threads-LI {
  @include fixed-text-overflow(auto, $thread-height);
  line-height: $thread-height;
  border-bottom: 1px solid #ededed;
  cursor: default;
  > * {
    min-height: $thread-height;
    max-height: $thread-height;
    line-height: $thread-height;
    display: inline-grid;
  }
}

.threads-LI:hover {
  background-color: #ededed;
}

.threads-from-address {
  @include fixed-text-overflow(175px, $thread-height);
  font-weight: bold;
  padding-left: 5px;
}

.threads-from-address-HL {
  @extend .threads-from-address;
  background-color: #ededed;
  border-left: 3px solid black;
}

.threads-subject-line {
  font-weight: bold;
}

.threads-snippet {

}

.thread {
  border-left: 1px solid black;
  padding: 1em;
  position: fixed;
  left: 375px;
  right: 0;
  bottom: 0;
  top: $nav-height;
  @media (min-width: $break-sm) and (max-width: $break-md) {
    top: $nav-height * 2 !important;
  }
  z-index: 2 !important;
  background-color: white;
  overflow-y: scroll;
}

.thread-subject-line {
  font-weight: bold;
}

.message-body {
  position: relative;
  z-index: 3 !important;
}

.message-body-from-address {

}

.message-body-text-body {

}

.message-header {
  position: relative;
  z-index: 3 !important;
}

.message-header-from-address {

}

.message-header-snippet {

}
