#empty-label {
  background:url("../empty-mailbox.jpg") no-repeat center center white;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  height: 35em;
  margin: auto;
}

#mail-loading-container {
  background:url("../loading.gif") no-repeat center center white;
  background-size: auto auto;
  background-position: center;
  margin-top: 200px;
  height: 8em;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

#mail-container {
  @extend .col-xs-8;
  @extend .col-sm-9;
  @extend .col-md-10;
  @extend .col-lg-10;
  @extend .pull-right;
  z-index: 1 !important;
}

.threads-container {
  //no CSS seemed to be required for this class but keeping it as a placeholder for now...
}

.threads-LI {
  display: block;
  @include fixed-text-overflow(auto, $thread-height);
  line-height: $thread-height;
  border-bottom: 1px solid #ededed;
  cursor: default;
}

.threads-LI:hover {
  background-color: #ededed;
}

.threads-from-address {
  @include fixed-text-overflow(190px, $thread-height);
  display: inline-flex;
  font-weight: bold;
  padding-left: 5px;
  margin-right: 20px;
}

.threads-from-address-HL {
  @extend .threads-from-address;
  background-color: #ededed;
  border-left: 3px solid black;
  padding-right: 500px;
}

.threads-subject-line {
  font-weight: bold;
  @include fixed-text-overflow(auto, $thread-height);
}

.threads-snippet {
  @include fixed-text-overflow(auto, $thread-height);
}

.thread {
  border-left: 1px solid black;
  padding: 1em;
  z-index: 2 !important;
  background-color: white;
  overflow-y: scroll;
  position: fixed;
  left: 450px;
  right: 0;
  bottom: 0;
  top: $nav-height;
  @media (min-width: $break-sm) and (max-width: $break-md) {
    top: $nav-height * 2 !important;
  }
}

.thread-subject-line {
  font-weight: bold;
}

.message-body {
  position: relative;
  z-index: 3 !important;
}

.message-header {
  position: relative;
  z-index: 3 !important;
}
