#navbar {
  @extend .navbar-default;
  @extend .navbar;
  @extend .navbar-fixed-top;

  #navbar-left {
    @extend .navbar-left;
  }

  #navbar-right {
    @extend .navbar-right;
  }
}

#logo {
  width: 50px;
  height: 50px;
}

.menu-buttons {
  @extend .btn;
  @extend .btn-default;
  @extend .navbar-btn;
}

.nav-content {
  @extend .nav;
  @extend .navbar-nav;
  height: $nav-height;
  display: flex;
  align-items: center;
}

#search-form {
  @extend .navbar-form;
}

#search-input {
  @extend .form-control;
  min-width: 400px;
}

#profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 7px;
}
