#sidebar-container {
  @extend .col-xs-3;
  @extend .col-sm-3;
  @extend .col-md-2;
  @extend .col-lg-2;
  position: fixed;
}

#sidebar-list {
  @extend .nav;
  @extend .nav-pills;
  @extend .nav-stacked;
}

.label-LI {

}

.label-btn {
  @extend .btn;
  @extend .btn-default;
  @include text-overflow(auto);
  width: 100%;
  border: none;
  text-align: left;
}

.label-btn:hover {
  background-color: $main-blue;
  color: $white;
}

#audio-container {
  @extend .dropdown;
}

#audio-dropdown {
  @extend .btn;
  @extend .btn-default;
  @extend .dropdown-toggle;
}

#audio-menu {
  @extend .dropdown-menu;
}

.audio-menu-btn {

}
