@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables';
@import 'navbar';

body {
  padding-top: $nav-height;
  min-width: $break-sm !important;
  overflow-x: hidden !important;
  @media (min-width: $break-sm) and (max-width: $break-md) {
    padding-top: $nav-height * 2;
  }
  @media (max-width: $break-sm) {
    padding-top: $nav-height;
  }
}
