@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'variables';
@import 'utilities';
@import 'navbar';
@import 'sidebar';
@import 'mailbox';
@import 'mail';
@import 'login';

body {
  padding-top: $nav-height;
  min-width: $break-sm !important;
  overflow-x: hidden;
  @media (min-width: $break-sm) and (max-width: $break-md) {
    padding-top: $nav-height * 2;
  }
  @media (max-width: $break-sm) {
    padding-top: $nav-height;
  }
}

#thread-count-form {
  width: 75%;
}
