@mixin text-overflow($max-width) {
  max-width: $max-width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}

@mixin fixed-text-overflow($width, $height) {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

.collapse-sm {
  @media (max-width: $break-sm) {
    display: none !important;
  }
}

.display-sm {
  @media (min-width: $break-sm) {
    display: none !important;
  }
}

.collapse-md {
  @media (max-width: $break-md) {
    display: none !important;
  }
}

.float-right-md {
  @media (max-width: $break-md) {
    float: right !important;
  }
}

.child-spacing-sm {
  li > p {
    @media (max-width: $break-sm) {
      padding-right: 7px;
    }
  }
}

.right-margin {
  margin-right: 5px;
}

.hr-custom {
  margin: 0px auto;
}
