$main-blue: #2496cf;
$dark-blue: #337AB7;
$light-gray: #ededed;
$white: white;
$black: black;
$nav-height: 4em;
$break-sm: 767px;
$break-md: 1145px;
$nav-form-break-1: 1345px;
$nav-form-break-2: 1245px;
$thread-height: 50px;
