#mailbox-container {
  border: 10px solid black;
}

#sidebar-container {

}

#userProfile-container {

}

#LP-container {

}

.mailbox-list {

}

#mail-container {

}

.message-list {

}

.thread-LI {

}
