body, html {
  margin: 0px;
  overflow: hidden;
  height: 100%;
}

/*Main content component CSS (includes sidebar and mailbox)*/
#mailbox-container {
  display: flex;
}

#content-container {
  margin-top: 4em;
}

/*Sidebar component css*/
#sidebar-container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 13em;
  font-size: 15px;
  padding: 1em 1.5em 0em 1.5em;
  height: 100%;
}

.label-LI {
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  text-align: left;
  padding-bottom: 0.75em;
}

.label-LI:hover {
  background-color: #ededed
}

#audio-container {
  padding: 0.5em;
}

/*Thread list (inbox) component CSS*/
#mail-loading-container {
  order: 2;
  padding: 1em;
}

#mail-container {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.5em;
  overflow-y: scroll;
  height: calc(100vh - 5em);
  margin-bottom: 3em;
}

.threads-LI {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.7em;
  line-height: 2.7em;
  border-bottom: 1px solid #ededed;
  padding-left: 0.75em;
}

.threads-LI:hover {
  background-color: #ededed;
}

.threads-from-address {
  margin-right: 1.6em;
  max-width: 11em;
  min-width: 11em;
  display: inline-flex;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  font-weight: bold;
  z-index: 1;
}

.threads-subject-line {
  padding-right: 1.6em;
  position: relative;
  font-weight: bold;
  overflow: hidden;
  text-overflow: clip;
}

.threads-snippet {
  position: relative;
  width: auto;
  overflow: hidden;
  text-overflow: clip;
}

.threads-container {
  overflow-wrap: break-word;
}

/*Thread component CSS*/
.thread {
  border-left: 1px solid black;
  padding: 1em;
  position: absolute;
  right: 0;
  left: 28em;
  top: 4em;
  z-index: 1;
  background-color: white;
  height: calc(100vh - 4.5em);
  overflow-y: scroll;
}

.thread-subject-line {
  font-weight: bold;
  font-size: 17px;
}

.message-body {
  margin-bottom: 1.5em;
}

.message-body-from-address {

}

.message-body-text-body {

}

.message-header {

}

.message-header-from-address {

}

.message-header-snippet {

}

/*Navbar component css*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 4em;
  background-color: #ededed;
  z-index: 2;
  border-bottom: 1px solid black;
}

#search-form {
  width: 40%;
  display: inline-block;
}

#search-input {
  width: 80%;
}

#search-btn {
  width: auto;
}

#login {

}

#account-settings-btn {
  margin-left: 1em;
}

#mailbox-btn {

}

#navbar-left {
  display: flex;
  align-items: center;
  width: 65%;
  padding-left: 1.5em;
}

#navbar-left > *{
  padding-right: 1.5em;
}

#navbar-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
}

#profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: right;
  margin-left: 1.75em;
}

.whoami {
  margin-right: 5em;
}

/*Account settings component CSS*/
#userProfile-container {
  padding: 1em;
}

#thread-count-form {

}

/*Login page CSS*/
#LP-container {
  padding: 1em;
}
