body, html {
  margin: 0px;
  overflow: hidden;
  height: 100%;
}

button {
  -webkit-appearance: push-button;
}

input:focus {
  outline: none;
  border: 1px solid #00a6ca;
  border-radius: 5px;
}

/*Main content component CSS (includes sidebar and mailbox)*/
#mailbox-container {
  display: flex;
  font-family: Arial, sans-serif, Helvetica;
  font-size: 14px;
}

#content-container {
  margin-top: 3.3em;
}

/*Sidebar component css*/
#sidebar-container {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 13em;
  max-width: 13em;
  font-size: 15px;
  padding: 0.3em 1.5em 0em 1.5em;
  height: 100%;
  font-family: Arial, sans-serif, Helvetica;
}

.label-LI {
  border: none;
  background-color: white;
  cursor: default;
  outline: none;
  font-size: 15px;
  text-align: left;
  padding-bottom: 0.75em;
  font-family: Arial, sans-serif, Helvetica;
}

.label-LI:hover {
  background-color: #ededed
}

#audio-container {
  padding: 0.5em;
}

/*Thread list (inbox) component CSS*/
#mail-loading-container {
  order: 2;
  padding: 1em;
}

#mail-container {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 4.5em);
  margin-bottom: 3em;
}

.threads-LI {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.7em;
  line-height: 2.7em;
  border-bottom: 1px solid #ededed;
  padding-left: 0.75em;
  cursor: default;
}

.threads-LI:hover {
  background-color: #ededed;
}

.threads-from-address {
  margin-right: 1.6em;
  max-width: 11em;
  min-width: 11em;
  display: inline-flex;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: clip;
  font-weight: bold;
  z-index: 1;
}

.threads-subject-line {
  padding-right: 1.6em;
  position: relative;
  font-weight: bold;
  overflow: hidden;
  text-overflow: clip;
}

.threads-snippet {
  position: relative;
  width: auto;
  overflow: hidden;
  text-overflow: clip;
}

.threads-container {
  overflow-wrap: break-word;
}

/*Thread component CSS*/
.thread {
  border-left: 1px solid black;
  padding: 1em;
  position: absolute;
  right: 0;
  left: 30em;
  top: 3.3em;
  z-index: 1;
  background-color: white;
  height: calc(100vh - 3.8em);
  overflow-y: scroll;
}

.thread-subject-line {
  font-weight: bold;
  font-size: 17px;
  cursor: default;
}

.message-body {
  margin-bottom: 1.5em;
}

.message-body-from-address {
  cursor: default;
}

.message-body-text-body {

}

.message-header {

}

.message-header-from-address {
  cursor: default;
}

.message-header-snippet {

}

/*Navbar component css*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 790px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 3.3em;
  background-color: #ededed;
  z-index: 2;
  border-bottom: 1px solid black;
  font-family: Arial, sans-serif, Helvetica;
  font-weight: bold;
  font-size: 14px;
}

#search-form {
  width: 60%;
  display: inline-block;
}

#search-input {
  width: 80%;
  height: 25px;
}

#search-btn {
  width: auto;
}

#menu-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-buttons{
  flex-grow: 2;
  margin: 0.2em 0.2em;
}

#navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding-left: 1.5em;
}

#navbar-right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
}

#logo {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

#profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: right;
  margin-left: 1.75em;
}

.whoami {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
}

.whoami-user-name {
  cursor: default;
}

.logout {
  margin: 0.2em 0.75em;
}

/*Account settings component CSS*/
#userProfile-container {
  padding: 1em;
}

#thread-count-form {

}

/*Login/LP page CSS*/
#LP-container {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #708090;
  height: 100vh;
}

#login-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
  padding: 0.5em;
}

#login-link:hover {
  color: #00a6ca;
  border: 3px solid #00a6ca;
}

#login-container {
  border: 7px solid #00a6ca;
  border-radius: 30px;
  background-color: #ededed;
  height: 250px;
  min-height: 20px;
  width: auto;
  text-align: center;
  padding: 1em 4em 0em;
  line-height: calc(250px / 5);
  font-family: Tahoma, sans-serif;
}

#local-login-form {

}

#new-user{
  font-weight: bold;
  font-size: 18px;
}

#returning-user {
  font-weight: bold;
  font-size: 18px;
}

#LP-header {
  font-family: Tahoma, sans-serif;
  color: white;
}

/*Paging buttons container */
#thread-group-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
}

#thread-group-toggle > * {
  margin: 0 0.75em;
}

.paging-buttons {
  margin: 0 0.2em;
}

.current-label-page {
  padding: 0.1em 0.4em;
  margin: 0 0.2em;
  display: inline-block;
  cursor: default;
}
